<div class="bout-box">
  <div class="bout-container">
    <div class="result-parent">
      <div class="result"
        [ngClass]="{
          'win': eastWinner
        }">
      </div>
    </div>

    <div class="rikishi-box">
      {{ bout.eastRikishi | titlecase }}
    </div>

    <div class="kimarite">
      <span *ngIf="!bout.result" class="play-button" (click)="runMatch()">&#x27A4;</span>
      <span *ngIf="bout.result">{{ bout.kimarite }}</span>
    </div>

    <div class="rikishi-box">
      {{ bout.westRikishi | titlecase }}
    </div>

    <div class="result-parent">
      <div class="result"
        [ngClass]="{
          'win': westWinner
        }">
      </div>
    </div>
  </div>

  <div class="button-box">
    <div class="bout-button" (click)="deleteMe()">&#x2297;</div>
    <div class="bout-button" (click)="swapSides()">&#x21c4;</div>
  </div>
</div>
