.record-display {
  display: flex;
  flex-flow: wrap;
  width: 90px;
  padding: 3px;
}

.result-circle {
  width: 7px;
  height: 7px;

  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  margin: 1px;
}

.win {
  background-color: white;
}

.loss {
  background-color: black;
}
