<div class="day-panel">
  <app-bout-creator
    (addBout)="createBout($event)"
    [daySchedule]="daySchedule">
  </app-bout-creator>

  <div class="kyujo-parent">
    <div class="kyujo">&#20241;&#22580;:</div>
    <div *ngFor="let injury of daySchedule.injuredRikishi">
      {{ injury.rikishi | titlecase }}&nbsp;
    </div>
  </div>

  <div class="play-all-parent">
    <button (click)="playAllRemaining()">Play all remaining bouts</button>
    <button (click)="autoSchedule()">Auto-Schedule</button>
  </div>
  <div class="bout-list" *ngIf="daySchedule">
    <div *ngFor="let bout of daySchedule.bouts; index as i" class="bout-panel">
      <app-bout-box [bout]="bout" (deleteBout)="deleteBout(i)">
      </app-bout-box>
    </div>
  </div>
</div>
