<div
  class="parent"
  (click)="rikishiClicked($event)"
  [ngClass]="{
    'winner': this.state.winner,
    'loser': this.state.loser,
    'selected': this.state.selected,
    'scheduled': this.state.scheduled
 }"
>
  <span class="rikishi" *ngIf="entry !== null">
    {{entry.name | titlecase }}{{this.selected}}
  </span>

  <div class="bout-result" *ngIf="this.state.scheduled">
    <div class="bubble" [ngClass]="{
      'no-result': this.state.scheduled,
      'win': this.state.winner
    }"></div>
    <div>Day {{ state.day }}</div>
  </div>
</div>
